<section class="bg-color">
    <div *ngIf="isEmpty" class="alert alert-dark" role="alert">
        upload new file txt and upload!
    </div>
    <div class="row padding-top-custom d-none d-lg-block call-md-5 row-lg-5 rpw-xl-6"></div>
    <div *ngIf="(chats$ | async)?.length || (chatsShared$ | async)?.length"
        class="container w-100 bg-white rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg-white p-1 rounded">
                <div class="container p-0">
                    <div *ngIf="(chats$ | async)?.length" class="card border-0">
                        <h5 class="card-title fw-bold text-center">My Chats</h5>
                        <div *ngFor="let chat of chats$ | async">
                            <div [routerLink]="['/chat', chat._id]" class="list-group">
                                <a class="list-group-item-custom list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{chat.nameChat}}</h5>
                                        <small class="text-muted">{{chat.creationDate}}</small>
                                    </div>
                                    <div *ngFor="let bookmark of chat['bookmarks']">
                                        <div *ngIf="bookmark.user._id === id">
                                            <p class="mb-1">{{bookmark.message.user}}: {{bookmark.message.body}}</p>
                                        </div>
                                    </div>
                                    <small class="text-muted">Shared with:
                                        <div class="row">
                                            <div class="col">
                                                <span *ngFor="let user of chat['guest']"
                                                    class="badge text-white bg-custom m-1">{{user.userName}}</span>
                                            </div>
                                        </div>
                                    </small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div *ngIf="(chatsShared$ | async)?.length" class="card border-0">
                <h5 class="card-title fw-bold text-center">Shared with you</h5>
                <div *ngFor="let chat of chatsShared$ | async">
                    <div [routerLink]="['/chat', chat._id]" class="list-group">
                        <a class="list-group-item-custom list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{chat.nameChat}}</h5>
                                <small class="text-muted">{{chat.creationDate}}</small>
                            </div>
                            <div *ngFor="let bookmark of chat['bookmarks']">
                                <div *ngIf="bookmark.user._id === id">
                                    <p class="mb-1">{{bookmark.message.user}}: {{bookmark.message.body}}</p>
                                </div>
                            </div>
                            <small class="text-muted">Owner: {{chat.owner.userName}}</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
    <div style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M-1.97,39.95 C307.84,299.50 342.83,-70.55 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff; --darkreader-inline-stroke:none; --darkreader-inline-fill:#33a6ff;"
                data-darkreader-inline-stroke="" data-darkreader-inline-fill=""></path>
        </svg></div>
</section>