/* You can add global styles to this file, and also import other style files */

.body-temp {
    background-color: #FF9F1C !important;
    /* margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* display: grid;
    place-items: center; */
}